# Ignoring most jupyter notebooks
*.ipynb
#!driver.ipynb

# Ignoring output directories
output/**/derivatives/
output/**/derivatives_Cl/
figures/
__pycache__/

# Ignoring some specific files
notebook_helper_functions.py
